eval "$(lorri direnv)"
# make sure flink is using the local configuration
export FLINK_CONF_DIR=$(pwd)/conf
# add shell scripts like start-cluster.sh to the path
export PATH=$PATH:$(dirname $(command -v flink))/../opt/flink/bin
